@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  border: dashed red;
}

h1 {
}

.navbar-list {
  display: flex;
  gap: 2rem;
}
