@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  background-color: #ffffff;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */
header {
  border-bottom: dashed #e8e4ec;
  display: flex;
  justify-content: space-between;
  padding: 1rem 15rem;
}

.navigation {
  display: flex;
  gap: 2rem;
}

nav ul li a {
  color: #1f2937;
}

/* Main */
main {
  padding: 0rem 20rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

/* Title Section */
.section-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 3rem;
}

.highlight-text {
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-color: bisque;
  text-decoration-thickness: 0.2rem;
}
