@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 15rem;
  border-bottom: dashed #e8e4ec;
}

.navigation {
  display: flex;
  gap: 2rem;
}

nav ul li a {
  color: #1f2937;
}
